/* global styles */
:root {
    --mainBg: #d891d8;
    --mainFg: #000000;
    --navbarBg: #ad1fad;
    --navbarFg: #ffffff;
    --navlinkBg: #570f57;
    --navlinkHv: #570f57bf;
    --footerBg: #e052e0;
}

* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all ease-in-out 400ms;
    scroll-behavior: smooth;
}
*::-webkit-scrollbar {
    display: none;
}
.custom-scrollbar::-webkit-scrollbar {
    display: block;
    width: 0.25rem;
    background-color: var(--mainBg);
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--mainFg);
    border-radius: 0.15rem;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--mainFg);
}
button {
    border: none;
    cursor: pointer;
    &:focus-visible {
        outline: none;
    }
}

body {
    background-color: var(--mainBg);
    color: var(--mainFg);
}

#container {
    max-width: 1540px;
    min-width: 320px;
}
/* navbar styles */
#navbar {
    position: sticky;
    top: 0.25rem;
    width: 75%;
    height: 3rem;
    padding-inline: 0.75rem;
    border-radius: 0.35rem;
    box-shadow: 0px 0px 10px -0.75px var(--navbarBg);
    background-color: var(--navbarBg);
    a {
        color: var(--navbarFg);
    }
    #logo {
        column-gap: 0.5rem;
        img {
            height: 1.5rem;
            width: 1.5rem;
        }
        span {
            font-size: large;
            font-weight: 500;
        }
    }
    #main-nav {
        a {
            font-size: small;
            padding: 0.25rem 0.5rem;
            background-color: var(--navlinkBg);
            border-radius: 0.25rem;
            &:hover {
                background-color: var(--navlinkHv);
                box-shadow: 0px 0px 7px -0.5px var(--navlinkBg);
            }
            &.active {
                border: 1px solid var(--mainBg);
            }
        }
        nav {
            gap: 1rem;
        }
    }
}
/* main page styles */
main {
    min-height: calc(100vh - 5.5rem);
    padding: 1rem 2rem;
}

/* footer styles */
footer {
    height: 2.5rem;
    background-color: var(--footerBg);
    font-size: small;
    gap: 1rem;
}

#love {
    color: red;
}
footer a {
    font-weight: 500;
}
